.post {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.post-avatar {
    background-color: rgba(0, 0, 0, 0.33);
    height: 80px;
}

.post-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    float: left;
}

.post-avatar a {
    display: block;
    padding-top: 10px;
}

.post-content {
    padding: 20px;
}

.post-footer {
    padding: 20px;
    background-color: #efefef;
}

.post-footer span {
    margin-right: 10px;
}

.post-list {
    margin-top: 40px;
    /* padding: 40px; */
    border-radius: 10px;
    /* background-color: rgba(255, 0, 0, 0.1); */
}

.post-list ul {
    padding: 0px;
}

.post-list li {
    padding: 0px;
    list-style: none;
}

.post-builder {
    border-radius: 10px;
    min-height: 200px;
    padding: 40px;
    background-color: rgba(0, 0, 255, 0.75);
}

.post-builder textarea {
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    padding: 5px;
}

.post-builder button {
    float: right;
    margin-top: 10px;
}

.post-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}