.login {
    min-width: 350px;
    width: 30%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
}

.v-space {
    margin-top: 20px;
}

.spinner {
    font-size: 40px;
}